@viewport {
    max-zoom: 3;
}

.console {
    visibility: hidden;
}

.page-content {
    position: relative;
    width: 100vw;
    height: 100vh;
}

/* .menu-item:nth-child(0n+1) .menu-item-content:before tbused with an inserted <style> */

.menu {
    overflow: hidden;
}

.menu-item {
    height: 16px;
}

.menu-item-content {
    position: relative;
    display: inline-block;
    font-size: 16px;
}

.menu-item-lead {
    display: inline-block;
    border-bottom: 1px;
    border-style: dotted;
    width: 0;
    max-width: 85%; //prevent overflow
}

.lines {
    display: inline-block;
    position: absolute;
    overflow: hidden;
    right: 0;
    bottom: 100px;
    width: 50%;
}

.line {
    display: inline-block;
    box-sizing: border-box;
    width: 100%;
    margin-bottom: 1%;
    border-top: 1px;
    border-style: dotted;
    float: left;
    /*
    border-left: 1px;
    margin-left: .5%; //should prolly be 1px;
    float:left;
    */
}
.lines:after {
    display: hidden;
    clear: both;
}

.content-footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}

.logo {
    position: absolute;
    box-sizing: border-box;
    overflow: hidden;
    width: 80px;
    right: 0;
    bottom: 0;
    display: inline-block;

}

.logo-content {
    font-size: 24px;
    word-wrap: break-word;
}


