
a { /*add this to reset, eventually*/
    text-decoration: none;
    color: black;
}

.page {
    position: relative;
    width: 100vw;
}

/***** WINDOW-POSITIONED *****/

.window {
    position: fixed;
    width: 100vw;
    height: 100vh;
    z-index: 1;
}

.header { //do we even need this?
    height: 10px;
}

.menu { /* 108 px wide */
    display: inline-block;
    box-sizing: border-box;
    padding-right: 6px;
    padding-bottom: 6px;
    border-right-style: solid;
    border-right-width: 5px;
    border-bottom-style: solid;
    border-bottom-width: 5px;
    border-color: white;

}

.menu-item {
    height: 16px;
}

.menu-item-content {
    position: relative;
    display: inline-block;
    font-size: 16px;
}

/*****/

.last-page {
    box-sizing: border-box;
    height: 100vh;
    width: 100vw;
    border-top-width: 18px;
    border-style: solid;
    border-top-color: rgba(250, 250, 250, 1);
}


.content {
    box-sizing: border-box;
}

/***** POST *****/
.content:before {
display: block;
content: "";
width: 100vw;
height: 100vh;

}

.content-item {
    position: relative;
    box-sizing: border-box;
    /*border-right-color: rgba(200, 0, 0, .1);*/
    margin-top: 64px;
}


/* appear onscreen first, and stay fixed while other content scrolls, perhaps turn translucent when stuff passes over*/
.content-title {
    display: inline-block;
    font-size: 64px;
    color: rgba(90, 0, 0, .1);
    z-index: -1;
}

.content-title {
    position: absolute;
}

.content-item.off .content-title {
    position: absolute;
    top: -64px;
}

.content-item.m_top .content-title, .content-item.fullscreen .content-title  {
    position: fixed;
    bottom: 0;
}

.content-item.m_bottom .content-title {
    position: absolute;
    bottom: 0;
}

.content-item-contents {
    box-sizing: border-box;
    position: relative;
    min-height: 299vh;
}

.content-body {
    margin-left: 150px;
    margin-right: 40px

}

.content-media {
    display: inline-block;
    width: 100vw;
    height: calc(100vh - 130px);
    z-index: 3;
    left: 0;
}

.content-item.off .content-media, .content-item.m_top .content-media {
    position: absolute;
    top: 130px;
}

.content-item.fullscreen .content-media {
    position: fixed;
    top: 130px;
}

.content-item.m_bottom .content-media {
    position: absolute;
    bottom: 0;
}





.media-item {
}

.media-image {
    width: 100px;
    height: 100px;
    margin-top: 10px;
    background-color: grey;

}

/*****/

.logo {
    position: absolute;
    /*right: 0;*/
    left: 0;
    bottom: 0;
}